.jumbotron {
  background-color: #ccffcc;
  text-align: center;
}
h3 {
  color: red;
  text-align: center;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background:#e6ffe6;
}
