.jumbotron {
border: 4mm ridge rgb(175, 10, 10);
background-image: url(../img/skyline.jpg);
background-position-y: 25%;
background-size: cover;
text-align: center;
color: red;
margin: 3%;
}

body {
  text-align: center;
}

.box {
  height: 8%
  border:4px solid black;
  border-radius: 30px;
  background-color: #af0a0a;
}

.topbar:hover {
  color: orange;
  cursor: pointer;
  text-decoration: underline;

}
