.jumbotron {
  min-height: 300px;
  /* border: 10px solid black; */
  background-image: url(../img/seattle.jpeg);
  background-position-y: 5%;
  background-size: cover;
}
/* #jumboH1 {
  float: bottom;
} */
body {
  text-align: center;
}

#heading {
  background-color: #cc0000;
  font-family: Impact, fantasy;
  letter-spacing: 5px;
  font-size: 48pt;
  text-shadow: 1px 1px 3px white;
  font
}

.box {
  height: 8%
  border: 2px solid black;
  padding: 10px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  background-color: #ff6699;
  text-align: center;
  text-shadow: 1px 1px 3px white;
  font-size: 18pt;
  color: black;
}

.topbar:hover {
  color: orange;
  cursor: pointer;
  text-decoration: underline;
}
h4 {
  font-family: Impact, fantasy;
  font-size: 22pt;
  text-decoration: underline;
  text-decoration-color: black;
  text-shadow: 1px 1px 1px #cc0000;
}

img.align-left {
  height: 200px;
  float: left;
  margin-right: 10px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;

}
img.align-right {
  height: 200px;
  float: right;
  margin-left: 10px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -moz-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
  -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
}

.p1 {
  text-align: left;
  font-size: 20px
}
.p2 {
  text-align: right;
  font-size: 20px
}
.p3 {
  text-align: left;
  font-size: 20px
}

footer {
   background: #cc0000;
}
